.nrgQPPay-View {
    border: 0px;
    & > .sapUiDlgHdr {
        display: none;
    }
    & > .sapUiDlgCont {
        margin: 0px;
        padding: 0px;
    }
    & > .sapUiDlgHdrSep {
        display: none;
    }
}
.nrgQPPay-View.sapUiDlgFlexHeight.sapUiDlgNoButtons .sapUiDlgCont {
    margin-bottom: 0px;
}
.nrgQPPay-View.sapUiDlg.sapUiDlgModal {
    border: 0px;
}
