.nrgBilling-blChkBkTools {
    height: 275px;

    & > .nrgBilling-blChkBkTools-Title{
            font-size: @nrgFontSize-base;
            text-align: center;
            font-weight: @nrgFontWeight-bold;
            padding-bottom: 10px;
    }

    & > .nrgBilling-blChkBkTools-ctnt{
            text-align: center;
    }

    & > .nrgBilling-blChkBkTools-ctnt > .nrgBilling-blChkBkTools-ctnt-btn{
            margin-bottom: 5px;
    }
    & > .nrgBilling-blChkBkTools-ctnt > .nrgBilling-blChkBkTools-ctnt-btn:disabled {
            color: @nrgColor-white;
            background-color: @nrgColor-grey-light;
    }
}
