.nrgDashboard-tagline{

  & > .nrgDashboard-text {
    font-family: @nrgFontFamily-2;
    font-size: @nrgFontSize-veryJumbo;
    text-align: left;;
    font-weight: @nrgFontWeight-bold;
    margin-left: 50px;
    margin-top: 80px;
    text-shadow: 1px 1px 3px #ffffff;
    color:rgb(35,46,98);
    font-style: italic;
  }
}
