.uteAppIdxLink {
    display: block;

    & .uteAppIdxLink-desc {
        display: inline-block;
        padding: 5px 0 0 10px;
        color: @uteColor-white;
        font-size: @uteFontSize-small;
        cursor: pointer;

/*        &:hover {
            color: @uteColor-white;
            cursor: pointer;
        }*/
    }
}
