.sapMBusyDialog.sapMDialog.nrgBusyDialog {
    background: transparent;
	border: none;
	border-radius: 0px;
	box-shadow: none;
    min-width: 1.75rem!important;
	text-align: center;
	width: 4.75rem!important;
    font-family: @nrgFontFamily;

    & > .sapMIBar.sapMFooter-CTX {
            background-color: transparent;
            border-top: 0rem solid transparent;
        	border-radius: 0.3rem;
    }
    & > .sapMFooter-CTX .sapMBtn:hover>.sapMBtnHoverable:not(.sapMBtnActive) {
            background-color: transparent;
            color: #ffffff;
            border-color: transparent;
    }
    & > .sapMFooter-CTX .sapMBtn {
            background-color: @nrgColor-blue-link;

    }
    & > .sapMFooter-CTX .sapMBtn:focus>.sapMFocusable {
            outline: 0px dotted transparent;
            outline-offset: 0px;
    }
}
